#title-slide h1 {
  position: absolute;
  left: 250px;
  top: 200px;
  width: 800px;

}

#title-slide ul {
  position: absolute;
  left: 400px;
  top: 550px;
  list-style-type: none;
}


/******************************/

#flight-plan ul {
  position: relative;
  left: 7%;
}

#flight-plan img {
  position: absolute;
  width: 40%;
  right: 5%;
  top: 18%;
}

#flight-plan a {
  position: relative;
  top: 10%;
  left: 25%;
  font-size: 200%;
}



/******************************/

#web-app img{
  width: 200px;
  position: absolute;
  right: 20%;
  bottom: 0;
}

/******************************/
/* All network diagram slides, share this styling */
.network-diagram img {
  position: relative;
  width: 50%;
  left: 25%;
}

.impress-on-web-app #centralized-facebook,
.impress-on-web-app #centralized-amazon,
.impress-on-centralized-substrate #centralized-facebook,
.impress-on-centralized-substrate #centralized-amazon,
.impress-on-centralized-facebook #centralized-substrate,
.impress-on-centralized-facebook #centralized-amazon,
.impress-on-centralized-amazon #centralized-substrate,
.impress-on-centralized-amazon #centralized-facebook {
  display: none;
}

/******************************/
#decentralize h1 {
  position: relative;
  right: 25%;
  top: 10%;
}
#decentralize img {
  position: absolute;
  width: 50%;
  right: 1%;
  top: 15%;
}
#decentralize>ul {

  position: absolute;
  bottom: 15%;
}

/******************************/
#compilation {

}

/******************************/

#like-git {

}

/******************************/

#keygen {

}

/******************************/

#add-module {

}

/******************************/

#upgrade {

}

/******************************/

#remove-module {

}

/******************************/

#poe {

}

/******************************/
/* The two parting slides share some styling */
.parting {
  font-size: 250%;
}

.parting h1 {
  position: relative;
  right: 5%;
  top: 30%;
}

.parting p {
  display: block;
  width: 50%;
  position: absolute;
  bottom: 22%;
  left: 30%;
}
