#title-slide h1 {
  position: absolute;
  left: 250px;
  top: 200px;
  width: 800px;

}

#title-slide ul {
  position: absolute;
  list-style-type: none;
}

#title-slide #first {
  top: 550px;
  left: 350px;
}

#title-slide #second {
  top: 575px;
  left: 700px;
}


/******************************/

#flight-plan ul {
  position: relative;
  left: 7%;
}

#flight-plan img {
  position: absolute;
  width: 40%;
  right: 5%;
  top: 18%;
}

#flight-plan a {
  position: relative;
  top: 10%;
  left: 25%;
  font-size: 200%;
}



/******************************/

#web-app img{
  width: 300px;
  position: absolute;
  right: 10%;
  bottom: 0;
}

#web-app h2 {
  position: relative;
  right: 20%;
}

/******************************/
/* All network diagram slides, share this styling */
.network-diagram img {
  position: relative;
  width: 50%;
  left: 25%;
}

.impress-on-web-app #centralized-facebook,
.impress-on-web-app #centralized-amazon,
.impress-on-centralized-substrate #centralized-facebook,
.impress-on-centralized-substrate #centralized-amazon,
.impress-on-centralized-facebook #centralized-substrate,
.impress-on-centralized-facebook #centralized-amazon,
.impress-on-centralized-amazon #centralized-substrate,
.impress-on-centralized-amazon #centralized-facebook {
  display: none;
}

/******************************/
#decentralize h1 {
  position: relative;
  right: 25%;
  top: 10%;
}
#decentralize img {
  position: absolute;
  width: 50%;
  right: 1%;
  top: 15%;
}
#decentralize>ul {

  position: absolute;
  bottom: 15%;
}

/******************************/
#compilation {

}

/******************************/

#like-git h1 {
  position: relative;
  right: 10%;
}

#like-git #blocks {
  position: absolute;
  bottom: 10%;
}

#like-git #chain {
  height: 100%;
  position: absolute;
  right: 5%;
  bottom: 1%;
}

/******************************/

#keygen img {
  width: 800px;
}

/******************************/

#join pre {
  margin: 0;
  font-size: 300%;
}

#join img {
  width: 90%;
}

/******************************/

#add-module {

}

/******************************/

#upgrade img {
  width: 1000px;
}

/******************************/

#remove-module {

}

/******************************/

#poe {

}

/******************************/
/* The two parting slides share some styling */
.parting {
  font-size: 250%;
}

.parting h1 {
  position: relative;
  right: 5%;
  top: 30%;
}

.parting p {
  display: block;
  width: 50%;
  position: absolute;
  bottom: 22%;
  left: 30%;
}
